.movie-poster {
  height: 300px;
  margin: 0 10px;

  img {
    height: 100%;
  }

  span {
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;
    text-decoration-color: black;
  }
}


